@model SistemaVendas.Models.VendaViewModel;

@{
    var disabled = (Model.Codigo == null) ? "disabled" : string.Empty;
}

<h2>Produtos</h2>
<hr />
<form asp-controller="Venda" asp-action="Cadastro" method="post">
    <input type="hidden" asp-for="Codigo" value="@Model.Codigo" />
    <div class="form-group">
        <div class="col-4">
            <label>Data</label>
            <input asp-for="Data" type="date" value="@Model.Data" class="form-control" />
            <span asp-validation-for="Data" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Cliente</label>
            <input asp-for="ListaClientes" type="hidden" value="@Model.ListaClientes" class="form-control" />
            <select asp-for="CodigoCliente" asp-items="@Model.ListaClientes" class="form-control" input-lg></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Produtos</label>
            <input asp-for="ListaProdutos" type="hidden" value="@Model.ListaProdutos" class="form-control" />
            <select id="cboProduto" onchange="BuscarPrecoProduto()" asp-items="@Model.ListaProdutos" class="form-control" input-lg></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-2">
            <label>Preço Unitário</label>
            <input id="txtPrecoUnitario" type="number" class="form-control" disabled />
        </div>
        <div class="col-2">
            <label>Quantidade</label>
            <input id="txtQtde" type="number" class="form-control" onchange="Calcular()" />
        </div>
        <div class="col-2">
            <label>SubTotal</label>
            <input id="txtSubTotal" type="number" class="form-control" disabled />
        </div>
        <div class="col-2">
            <br />
            <button type="button" class="btn btn-info" onclick="AddProduto()"> Adcionar</button>
            <br />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thread-inverse">
                    <tr style="background-color:#f6f6f6">
                        <th>Produto</th>
                        <th>Preço Unitário</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody id="gridProdutos">
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <label>Total</label>
        <input id="txtTotal" asp-for="Total" type="text" value="@Model.Total" class="form-control" />
        <span asp-validation-for="Total" class="text-danger" />
    </div>
    <div>
        <input asp-for="JsonProdutos" id="txtJsonProdutos" hidden />
    </div>
    <br />
    <div class="col">
        <button type="button" class="btn btn-secondary" onclick="Novo()">Novo</button>
        <button type="submit" class="btn btn-success">Gravar</button>
        <button type="button" class="btn btn-info" onclick="Listagem()">Listagem</button>
        <button type="button" class="btn btn-danger" onclick="Excluir(@Model.Codigo)" @disabled>Excluir</button>
    </div>
</form>

<script>
    var Items = new Object();
    Items.Produtos = new Array();
    var gridProdutos = document.getElementById("gridProdutos");
    function Novo() {
        Request("Cadastro");
    }
    function Listagem() {
        Request();
    }
    function Excluir(Codigo) {
        Request("Excluir\\" + Codigo)
    }
    function Request(request) {
        window.location = window.origin + "\\Venda\\" + request;
    }

    function BuscarPrecoProduto() {
        var codigoProduto = document.getElementById("cboProduto").value;
        var url=`/LerValorProduto/${codigoProduto}`;

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if(xhr.readyState == XMLHttpRequest.DONE){
                document.getElementById("txtPrecoUnitario").value = xhr.responseText;
            }
        }
        xhr.open('GET',url,false);
        xhr.send(null);
    }

    function Calcular(){
        var precoUnitario =  document.getElementById("txtPrecoUnitario").value;
        var qtde =  document.getElementById("txtQtde").value;
        document.getElementById("txtSubTotal").value = precoUnitario * qtde;
    }

    function AddProduto(){
        var codigoProduto = document.getElementById("cboProduto");
        var qtde = document.getElementById("txtQtde").value;
        var precoUnitario =  document.getElementById("txtPrecoUnitario").value;
        var subTotal =  document.getElementById("txtSubTotal").value;

        Items.Produtos.push({
            "CodigoProduto":codigoProduto.value,
            "Quantidade":qtde,
            "ValorUnitario":precoUnitario,
            "Total":subTotal
        });

        document.getElementById("txtJsonProdutos").value = JSON.stringify(Items.Produtos);

        var linhaGrid =
        "<tr id='" + codigoProduto + "'>"
            "<td>" + codigoProduto.options[codigoProduto.selectedIndex].text + "</td>"
            "<td>" + precoUnitario + "</td>"
            "<td>" + qtde + "</td>"
            "<td>" + subTotal + "</td>"
        "</tr>";
        gridProdutos.innerHTML += linhaGrid;

        var total = Number(document.getElementById("txtTotal").value.toString().replace(",",".")) + Number(subTotal)
        document.getElementById("txtTotal").value = total;

        document.getElementById("txtQtde").value = "";
        document.getElementById("txtSubTotal").value = "";
        document.getElementById("txtPrecoUnitario").value = "";
        document.getElementById("cboProduto").selectedIndex = -1;
    }

</script>